Repository dszakallas/mixxx-launchpad: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, tsc

eslint:
  run: npm run eslint {staged_files}

prettier:
  run: npm run prettier -- --check {staged_files}

tsc:
  run: npm run tsc -- -b

Update README.MD
  README.MD
Due: none

fix: loop out button
  packages/launchpad-common/src/controls/loopIo.ts
Due: eslint, prettier, tsc

Notes added by 'git notes add'
  e1790114ae18304d1f82989263d71bd28ac05fd7
Due: none

migrate to bun
  .dockerignore
  .github/workflows/test-and-release.yaml
  .lefthook.yml
  Makefile
  README.MD
  bun.lockb
  devices.json
  package-lock.json
  package.json
  packages/launchcontrol-xl-mk2/controller.json
  packages/launchcontrol-xl-mk2/controls.ts
  packages/launchcontrol-xl-mk2/src/index.ts
  packages/launchcontrol-xl-mk2/tsconfig.json
  packages/launchpad-mini-mk3/controller.json
  packages/launchpad-mini-mk3/controls.ts
  packages/launchpad-mini-mk3/src/index.ts
  packages/launchpad-mini-mk3/tsconfig.json
  packages/launchpad-mk1/controller.json
  packages/launchpad-mk1/controls.ts
  packages/launchpad-mk1/src/index.ts
  packages/launchpad-mk1/tsconfig.json
  packages/launchpad-mk2/controller.json
  packages/launchpad-mk2/controls.ts
  packages/launchpad-mk2/info.json
  packages/launchpad-mk2/src/index.ts
  packages/launchpad-mk2/tsconfig.json
  scripts/compile-mapping.js
  scripts/compile-mapping.ts
  scripts/compile-scripts.ts
  scripts/tsconfig.json
  scripts/util.ts
  tsconfig.json
Due: eslint, prettier, tsc

fix test-and-release.yaml
  .github/workflows/test-and-release.yaml
Due: prettier

fix fx params
  .lefthook.yml
  bun.lockb
  package.json
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/mixxx/src/util.ts
Due: eslint, prettier, tsc

map physical controls
  packages/launchcontrol-common/src/device.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-xl-mk2/controls.ts
  packages/launchcontrol-xl-mk2/src/index.ts
  packages/launchpad-common/src/device.ts
  packages/mixxx/src/MidiDevice.ts
Due: eslint, prettier, tsc

small readme nit
  README.MD
Due: none

save state of each laid out preset
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/Preset.ts
  packages/launchpad-common/src/controls/beatjump.ts
  packages/launchpad-common/src/controls/loopjump.ts
Due: eslint, prettier, tsc

Notes added by 'git notes add'
  ed8b3ff11a14f88165a1cefcf8a5bf329cf67078
Due: none

nix
  .github/workflows/test-and-release.yaml
  .gitignore
  .lefthook.yml
  README.MD
  bun.lockb
  devenv.lock
  devenv.nix
  devenv.yaml
  package.json
Due: prettier

Update test-and-release.yaml
  .github/workflows/test-and-release.yaml
Due: prettier

Add support for Launchpad X
  devices.json
  package.json
  packages/launchpad-x/controls.ts
  packages/launchpad-x/package.json
  packages/launchpad-x/src/index.ts
  packages/launchpad-x/tsconfig.json
Due: eslint, prettier, tsc

use main as default branch
  .github/workflows/test-and-release.yaml
Due: prettier

add renovate config
  .github/renovate.json5
Due: none

reformat
  .github/renovate.json5
  devenv.nix
Due: none

Fix release branch
  .releaserc.yml
Due: prettier

Update LICENSE
  LICENSE
Due: none

add davids-devenvs
  .releaserc.yml
  devenv.lock
  devenv.nix
  devenv.yaml
Due: prettier

update davids-devenvs
  devenv.lock
Due: none

update rollup
  bun.lockb
  package.json
Due: prettier

Revert "chore(deps): update rollup to 4.34.8"
  bun.lockb
  package.json
Due: prettier

fix
  scripts/compile-mapping.ts
  scripts/compile-scripts.ts
Due: eslint, prettier, tsc

update devenv
  devenv.lock
Due: none

modernize bundling
  babel.config.js
  bun.lockb
  package.json
  packages/launchcontrol-xl-mk2/package.json
  packages/launchpad-mini-mk3/package.json
  packages/launchpad-mk1/package.json
  packages/launchpad-mk2/package.json
  packages/launchpad-x/package.json
  scripts/compile-scripts.ts
Due: eslint, prettier, tsc

export Lazy to a module
  packages/common/package.json
  packages/common/src/Lazy.ts
  packages/common/src/index.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-common/src/pager.ts
Due: eslint, prettier, tsc

update module resolution
  tsconfig.json
Due: prettier

move to eslint 9
  .eslintignore
  .eslintrc.yaml
  bun.lockb
  eslint.config.js
  package.json
  packages/common/src/Lazy.ts
  packages/launch-common/src/Control.ts
  packages/launchcontrol-common/src/page/generic.ts
  packages/launchcontrol-common/src/pager.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/Preset.ts
  packages/mixxx/src/global.d.ts
Due: eslint, prettier, tsc

move Component to common
  packages/common/package.json
  packages/common/src/Component.ts
  packages/launch-common/src/Control.ts
  packages/launchcontrol-common/src/index.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/page/index.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-common/src/pager.ts
  packages/launchcontrol-common/src/util.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/PlaylistSidebar.ts
  packages/launchpad-common/src/Preset.ts
  packages/mixxx/src/Control.ts
  packages/mixxx/src/MidiDevice.ts
  packages/mixxx/src/Timer.ts
  packages/mixxx/src/index.ts
Due: eslint, prettier, tsc

fix Lazy
  packages/common/src/Lazy.ts
Due: eslint, prettier, tsc

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,md,yml,yaml}
  tsc: any of: *.{js,ts}
