Repository dszakallas/mixxx-launchpad: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, tsc

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      run: bunx eslint {staged_files}
    prettier:
      glob: '*.{js,ts,json,md,yml,yaml}'
      run: bunx prettier --check {staged_files}
    tsc:
      glob: '*.{js,ts}'
      run: bunx tsc-files --noEmit {staged_files}

simplify modifier sidebar
  packages/launchpad-common/src/ModifierSidebar.ts
Due: eslint, prettier, tsc

move Modifier to common
  packages/common/package.json
  packages/common/src/Modifier.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/Control.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/controls/beatjump.ts
  packages/launchpad-common/src/controls/beatloop.ts
  packages/launchpad-common/src/controls/cue.ts
  packages/launchpad-common/src/controls/grid.ts
  packages/launchpad-common/src/controls/hotcue.ts
  packages/launchpad-common/src/controls/key.ts
  packages/launchpad-common/src/controls/keyshift.ts
  packages/launchpad-common/src/controls/load.ts
  packages/launchpad-common/src/controls/loopIo.ts
  packages/launchpad-common/src/controls/loopjump.ts
  packages/launchpad-common/src/controls/loopjumpSmall.ts
  packages/launchpad-common/src/controls/nudge.ts
  packages/launchpad-common/src/controls/pfl.ts
  packages/launchpad-common/src/controls/play.ts
  packages/launchpad-common/src/controls/quantize.ts
  packages/launchpad-common/src/controls/reloop.ts
  packages/launchpad-common/src/controls/samplerPad.ts
  packages/launchpad-common/src/controls/slip.ts
  packages/launchpad-common/src/controls/sync.ts
  packages/launchpad-common/src/controls/tap.ts
Due: eslint, prettier, tsc

move Midi to common
  packages/common/package.json
  packages/common/src/Midi.ts
  packages/launchcontrol-common/src/Control.ts
  packages/launchcontrol-common/src/controls/deck.ts
  packages/launchcontrol-common/src/controls/fx.ts
  packages/launchcontrol-common/src/index.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-xl-mk2/src/index.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/Control.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/PlaylistSidebar.ts
  packages/launchpad-common/src/controls/grid.ts
  packages/launchpad-common/src/controls/hotcue.ts
  packages/launchpad-common/src/controls/loopIo.ts
  packages/launchpad-common/src/controls/loopMultiply.ts
  packages/launchpad-common/src/controls/loopjumpSmall.ts
  packages/launchpad-common/src/controls/pfl.ts
  packages/launchpad-common/src/controls/samplerPad.ts
  packages/launchpad-common/src/device.ts
  packages/launchpad-common/src/index.ts
  packages/launchpad-common/src/util.ts
  packages/launchpad-mini-mk3/src/index.ts
  packages/launchpad-mk1/src/index.ts
  packages/launchpad-mk2/src/index.ts
  packages/launchpad-x/src/index.ts
  packages/mixxx/src/MidiDevice.ts
  packages/mixxx/src/index.ts
Due: eslint, prettier, tsc

move onAttack to Midi
  packages/common/src/Midi.ts
  packages/launchpad-common/src/controls/beatloop.ts
  packages/launchpad-common/src/controls/key.ts
  packages/launchpad-common/src/controls/load.ts
  packages/launchpad-common/src/controls/loopIo.ts
  packages/launchpad-common/src/controls/loopMultiply.ts
  packages/launchpad-common/src/controls/loopjumpSmall.ts
  packages/launchpad-common/src/controls/pfl.ts
  packages/launchpad-common/src/controls/play.ts
  packages/launchpad-common/src/controls/quantize.ts
  packages/launchpad-common/src/controls/reloop.ts
  packages/launchpad-common/src/controls/sync.ts
  packages/launchpad-common/src/controls/tap.ts
  packages/launchpad-common/src/util.ts
Due: eslint, prettier, tsc

move retainAttackMode to midi
  packages/common/src/Midi.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/controls/beatjump.ts
  packages/launchpad-common/src/controls/cue.ts
  packages/launchpad-common/src/controls/keyshift.ts
  packages/launchpad-common/src/controls/loopjump.ts
  packages/launchpad-common/src/controls/nudge.ts
  packages/launchpad-common/src/controls/slip.ts
Due: eslint, prettier, tsc

rm unused file
  packages/launchpad-common/src/color.ts
Due: eslint, prettier, tsc

move Bpm to common
  packages/common/src/Bpm.ts
  packages/common/src/index.ts
  packages/launchpad-common/src/controls/tap.ts
Due: eslint, prettier, tsc

reuse Container
  packages/common/src/Component.ts
  packages/launchcontrol-common/src/page/generic.ts
  packages/launchcontrol-common/src/util.ts
  packages/launchpad-common/src/App.ts
Due: eslint, prettier, tsc

improve constructors
  packages/common/src/Component.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/util.ts
Due: eslint, prettier, tsc

fix fx param mapping order && value range
  packages/common/src/Component.ts
  packages/common/src/index.ts
  packages/launchcontrol-common/src/controls/deck.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/mixxx/src/Control.ts
  packages/mixxx/src/index.ts
  packages/mixxx/src/mixxx.ts
  packages/mixxx/src/util.ts
Due: eslint, prettier, tsc

Notes added by 'git notes add'
  006bfcf4dbfaee3db9aabef5518884c85c2285df
Due: none

remove unused file
  README.MD
  packages/launchpad-mk2/info.json
Due: prettier

wip
  packages/launchpad-mini-mk3/src/index.ts
Due: eslint, prettier, tsc

wait until device sends back programmer mode status
  packages/launchpad-common/src/index.ts
  packages/launchpad-mini-mk3/src/index.ts
Due: eslint, prettier, tsc

add mixxx declarations
  packages/mixxx/src/Control.ts
  packages/mixxx/src/MidiDevice.ts
  packages/mixxx/src/Timer.ts
  packages/mixxx/src/api/README.md
  packages/mixxx/src/api/colormapper.d.ts
  packages/mixxx/src/api/console.d.ts
  packages/mixxx/src/api/engine.d.ts
  packages/mixxx/src/api/hid-controller.d.ts
  packages/mixxx/src/api/index.d.ts
  packages/mixxx/src/api/midi-controller.d.ts
  packages/mixxx/src/global.d.ts
  packages/mixxx/src/mixxx.ts
Due: eslint, prettier, tsc

do not import global variables
  packages/mixxx/src/Control.ts
  packages/mixxx/src/MidiDevice.ts
  packages/mixxx/src/Timer.ts
  packages/mixxx/src/global.d.ts
Due: eslint, prettier, tsc

improve Component
  packages/common/src/Component.ts
  packages/launch-common/src/Control.ts
  packages/launchcontrol-common/src/device.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-common/src/pager.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/PlaylistSidebar.ts
  packages/launchpad-common/src/Preset.ts
  packages/launchpad-common/src/device.ts
  packages/launchpad-mk2/src/index.ts
  packages/launchpad-x/src/index.ts
  packages/mixxx/src/Control.ts
  packages/mixxx/src/MidiDevice.ts
  packages/mixxx/src/Timer.ts
Due: eslint, prettier, tsc

support rgb colors with color palette mapping
  packages/common/src/ColorPalette.ts
  packages/common/src/index.ts
  packages/launch-common/src/Pad.ts
  packages/launch-common/src/device.ts
  packages/launchcontrol-common/src/controls/deck.ts
  packages/launchcontrol-common/src/controls/fx.ts
  packages/launchcontrol-common/src/device.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-common/src/util.ts
  packages/launchcontrol-xl-mk2/src/index.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/Control.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/launchpad-common/src/PlaylistSidebar.ts
  packages/launchpad-common/src/controls/beatjump.ts
  packages/launchpad-common/src/controls/beatloop.ts
  packages/launchpad-common/src/controls/cue.ts
  packages/launchpad-common/src/controls/grid.ts
  packages/launchpad-common/src/controls/hotcue.ts
  packages/launchpad-common/src/controls/key.ts
  packages/launchpad-common/src/controls/keyshift.ts
  packages/launchpad-common/src/controls/load.ts
  packages/launchpad-common/src/controls/loopMultiply.ts
  packages/launchpad-common/src/controls/loopjump.ts
  packages/launchpad-common/src/controls/loopjumpSmall.ts
  packages/launchpad-common/src/controls/nudge.ts
  packages/launchpad-common/src/controls/pfl.ts
  packages/launchpad-common/src/controls/play.ts
  packages/launchpad-common/src/controls/quantize.ts
  packages/launchpad-common/src/controls/reloop.ts
  packages/launchpad-common/src/controls/samplerPad.ts
  packages/launchpad-common/src/controls/slip.ts
  packages/launchpad-common/src/controls/sync.ts
  packages/launchpad-common/src/controls/tap.ts
  packages/launchpad-mini-mk3/src/index.ts
  packages/launchpad-mk1/src/index.ts
  packages/launchpad-mk2/src/index.ts
  packages/launchpad-x/src/index.ts
Due: eslint, prettier, tsc

fix for LED-Output on Launchpad X
  packages/launchpad-x/src/index.ts
Due: eslint, prettier, tsc

fix for LED-Output on Launchpad X (#139)
  packages/launchpad-x/src/index.ts
Due: eslint, prettier, tsc

update devenv
  bun.lock
  bun.lockb
  devenv.lock
Due: none

fix(launchpad-x): LED-Output on Launchpad X (#139)
  packages/launchpad-x/src/index.ts
Due: eslint, prettier, tsc

update devenv (#143)
  bun.lock
  bun.lockb
  devenv.lock
Due: none

Notes added by 'git notes add'
  86948f8328f9a808e791368eba093548378b9461
Due: none

update to devenv 2
  devenv.lock
  devenv.yaml
Due: prettier

update to devenv 2
  bun.lock
  bun.lockb
  devenv.lock
  devenv.yaml
Due: prettier

update to devenv 2 (#151)
  devenv.lock
  devenv.yaml
Due: prettier

update devenv
  devenv.lock
  devenv.nix
  devenv.yaml
Due: prettier

update devenv
  devenv.lock
Due: none

feat: add Launchpad Pro MK3 support (#85)
  README.MD
  bun.lock
  devices.json
  package.json
  packages/launchpad-pro-mk3/controls.ts
  packages/launchpad-pro-mk3/package.json
  packages/launchpad-pro-mk3/src/index.ts
  packages/launchpad-pro-mk3/tsconfig.json
  tsconfig.json
Due: eslint, prettier, tsc

build(devenv): update dotfiles-common input to bikeshed
  devenv.lock
  devenv.nix
  devenv.yaml
Due: prettier

build(devenv): import recommended module and add agents profile
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
  devenv/agents.nix
Due: prettier

fix(launchpad): reset pad color on keyshift release and bank switch
  packages/launchpad-common/src/controls/keyshift.ts
Due: eslint, prettier, tsc

refactor: modernize syntax across components, controls, and build scripts
  packages/common/src/Component.ts
  packages/common/src/Modifier.ts
  packages/launchcontrol-common/src/device.ts
  packages/launchcontrol-common/src/index.ts
  packages/launchcontrol-common/src/page/fxParam.ts
  packages/launchcontrol-common/src/page/padSelector.ts
  packages/launchcontrol-common/src/pager.ts
  packages/launchpad-common/src/App.ts
  packages/launchpad-common/src/controls/beatjump.ts
  packages/launchpad-common/src/controls/loopjump.ts
  scripts/compile-mapping.ts
  scripts/compile-scripts.ts
Due: eslint, prettier, tsc

refactor: modernize class constructors, parameter properties, and initializers
  packages/common/src/Component.ts
  packages/common/src/Lazy.ts
  packages/launch-common/src/Pad.ts
  packages/launch-common/src/device.ts
  packages/mixxx/src/MidiDevice.ts
Due: eslint, prettier, tsc

refactor: modernize arrow functions, async/await, and class initializers
  packages/common/src/Midi.ts
  packages/launchpad-common/src/ModifierSidebar.ts
  packages/mixxx/src/Timer.ts
  scripts/util.ts
Due: eslint, prettier, tsc
